@using Flurl.Http;
@using ShikkhanobishBlazor.Models
@page "/ActiveTeacher"


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Responsive bootstrap 4 admin template" name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <div class="navbar-custom">
            <ul class="list-unstyled topnav-menu float-right mb-0">
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="/images/images.png" alt="user-image" class="rounded-circle" />
                        <span class="pro-user-name ml-1"> Maxine K <i class="mdi mdi-chevron-down"></i> </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-logout-variant"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>

            <!-- LOGO -->
            <div class="logo-box">
                <a href="Index" class="logo text-center logo-dark">
                    <span class="logo-lg">
                        <img src="/images/logo1.png" alt="" height="50" />
                    </span>

                    <span class="logo-sm">
                        <img src="/images/logo1.png" alt="" height="22" />
                    </span>
                </a>

                <a href="Index" class="logo text-center logo-light">
                    <span class="logo-lg">
                        <img src="/images/logo1.png" alt="" height="50" />
                    </span>
                    <span class="logo-sm">
                        <img src="/images/logo1.png" alt="" height="22" />
                    </span>
                </a>
            </div>

            <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li>
                    <button class="button-menu-mobile">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>
            </ul>
        </div>
        <!-- end Topbar -->
        <!-- Left Sidebar Start  -->
        <div class="left-side-menu">
            <div class="user-box">
                <div class="float-left">
                    <img src="/images/images.png" alt="" class="avatar-md rounded-circle" />
                </div>
                <div class="user-info">
                    <a href="#">Maxine K</a>
                </div>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <ul class="metismenu" id="side-menu">
                    <li class="menu-title">Navigation</li>

                    <li>
                        <a href="https://dashboard.shikkhanobish.com/index.html">
                            <i class="fas fa-home"></i>
                            <span> Dashboard </span>
                        </a>
                    </li>
                    <li>
                        <a href="Count">
                            <i class="fas fa-calculator"></i>
                            <span> Count </span>
                        </a>
                    </li>

                    <li>
                        <a href="Questions">
                            <i class="far fa-question-circle"></i>
                            <span> Question </span>
                        </a>
                    </li>

                    <li>
                        <a href="ActiveTeacher">
                            <i class="fas fa-lightbulb"></i>
                            <span> Active Teacher </span>
                        </a>
                    </li>

                    <li>
                        <a href="TeacherApproval">
                            <i class="fas fa-user-alt"></i>
                            <span> Teacher Approval </span>
                        </a>
                    </li>

                    <li>
                        <a href="TeacherWithdraw">
                            <i class="fas fa-money-bill-wave-alt"></i>
                            <span> Teacher Withdraw </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->


        <div class="content-page">
            <div class="content">

                <!-- Start container-fluid -->
                <div class="container-fluid">
                   
                    <br />
                    <hr style="background-color:crimson; height:10px;" />
                    <br />

                    <div class="">
                        <label style="color:blueviolet;font-size:30px;">Active Teacher By Class Counting section</label>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div>
                                <div class="card-box widget-inline">
                                    <div class="row">
                                        <div class="col-xl-4 col-sm-4 widget-inline-box">
                                            <div class="text-center p-3">

                                                <h2 class="mt-2"> <b>@activeTeacher8</b></h2>
                                                <p class="text-muted mb-0">Class 8</p>
                                            </div>
                                        </div>

                                        <div class="col-xl-4 col-sm-4 widget-inline-box">
                                            <div class="text-center p-3">
                                                <h2 class="mt-2"><b>@activeTeacher9and10</b></h2>
                                                <p class="text-muted mb-0">Class 9&10</p>


                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-sm-4 ">
                                            <div class="text-center p-3">
                                                <h2 class="mt-2"><b>@activeTeacher11and12</b></h2>
                                                <p class="text-muted mb-0">Class 11&12</p>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <br />
                    <hr style="background-color:crimson; height:10px;" />
                    <br />



                    

                </div>

                <!-- end container-fluid -->
                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                2021 &copy; shikkhanobish
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->
            </div>
            <!-- end content -->

        </div>
        <!-- END content-page -->

    </div>
    <!-- END wrapper -->
    <!-- Vendor js -->
</body>
</html>


@code{



    int activeTeacher8;
    int activeTeacher9and10;
    int activeTeacher11and12;

    

    protected override async Task OnInitializedAsync()
    {

       
        await GetActiveTeacherCount();


    }


 
    public async Task GetActiveTeacherCount()
    {
        int count1 = 0;
        int count2 = 0;
        int count3 = 0;

        var tList = await "https://api.shikkhanobish.com/api/ShikkhanobishTeacher/getAllTeacher".PostJsonAsync(new { }).ReceiveJson<List<Teachers>>();
        var crsList = await "https://api.shikkhanobish.com/api/ShikkhanobishTeacher/getAllCousrList".PostJsonAsync(new { }).ReceiveJson<List<CousrList>>();




        for (int i = 0; i < tList.Count; i++)
        {
            for (int j = 0; j < crsList.Count; j++)
            {

                if (tList[i].teacherID == crsList[j].teacherID && tList[i].activeStatus == 1)
                {
                    if (crsList[j].sub1 == 129 || crsList[j].sub1 == 130)
                    {
                        count1++;
                    }
                    if (crsList[j].sub2 == 129 || crsList[j].sub2 == 130)
                    {
                        count1++;
                    }
                    if (crsList[j].sub3 == 129 || crsList[j].sub3 == 130)
                    {
                        count1++;
                    }
                    if (crsList[j].sub4 == 129 || crsList[j].sub4 == 130)
                    {
                        count1++;
                    }
                    if (crsList[j].sub5 == 129 || crsList[j].sub5 == 130)
                    {
                        count1++;
                    }
                    if (crsList[j].sub6 == 129 || crsList[j].sub6 == 130)
                    {
                        count1++;
                    }
                    if (crsList[j].sub7 == 129 || crsList[j].sub7 == 130)
                    {
                        count1++;
                    }
                    if (crsList[j].sub8 == 129 || crsList[j].sub8 == 130)
                    {
                        count1++;
                    }
                    if (crsList[j].sub9 == 129 || crsList[j].sub9 == 130)
                    {
                        count1++;
                    }
                    if (crsList[j].sub10 == 129 || crsList[j].sub10 == 130)
                    {
                        count1++;
                    }



                    //Class 9&10
                    if (crsList[j].sub1 == 101 || crsList[j].sub1 == 102 || crsList[j].sub1 == 103 || crsList[j].sub1 == 104 || crsList[j].sub1 == 105 || crsList[j].sub1 == 106 || crsList[j].sub1 == 107 || crsList[j].sub1 == 108 || crsList[j].sub1 == 109 || crsList[j].sub1 == 110)
                    {
                        count2++;
                    }
                    if (crsList[j].sub2 == 101 || crsList[j].sub2 == 102 || crsList[j].sub2 == 103 || crsList[j].sub2 == 104 || crsList[j].sub2 == 105 || crsList[j].sub2 == 106 || crsList[j].sub2 == 107 || crsList[j].sub2 == 108 || crsList[j].sub2 == 109 || crsList[j].sub2 == 110)
                    {
                        count2++;
                    }
                    if (crsList[j].sub3 == 101 || crsList[j].sub3 == 102 || crsList[j].sub3 == 103 || crsList[j].sub3 == 104 || crsList[j].sub3 == 105 || crsList[j].sub3 == 106 || crsList[j].sub3 == 107 || crsList[j].sub3 == 108 || crsList[j].sub3 == 109 || crsList[j].sub3 == 110)
                    {
                        count2++;
                    }
                    if (crsList[j].sub4 == 101 || crsList[j].sub4 == 102 || crsList[j].sub4 == 103 || crsList[j].sub4 == 104 || crsList[j].sub4 == 105 || crsList[j].sub4 == 106 || crsList[j].sub4 == 107 || crsList[j].sub4 == 108 || crsList[j].sub4 == 109 || crsList[j].sub4 == 110)
                    {
                        count2++;
                    }
                    if (crsList[j].sub5 == 101 || crsList[j].sub5 == 102 || crsList[j].sub5 == 103 || crsList[j].sub5 == 104 || crsList[j].sub5 == 105 || crsList[j].sub5 == 106 || crsList[j].sub5 == 107 || crsList[j].sub5 == 108 || crsList[j].sub5 == 109 || crsList[j].sub5 == 110)
                    {
                        count2++;
                    }
                    if (crsList[j].sub6 == 101 || crsList[j].sub6 == 102 || crsList[j].sub6 == 103 || crsList[j].sub6 == 104 || crsList[j].sub6 == 105 || crsList[j].sub6 == 106 || crsList[j].sub6 == 107 || crsList[j].sub6 == 108 || crsList[j].sub6 == 109 || crsList[j].sub6 == 110)
                    {
                        count2++;
                    }
                    if (crsList[j].sub7 == 101 || crsList[j].sub7 == 102 || crsList[j].sub7 == 103 || crsList[j].sub7 == 104 || crsList[j].sub7 == 105 || crsList[j].sub7 == 106 || crsList[j].sub7 == 107 || crsList[j].sub7 == 108 || crsList[j].sub7 == 109 || crsList[j].sub7 == 110)
                    {
                        count2++;
                    }
                    if (crsList[j].sub8 == 101 || crsList[j].sub8 == 102 || crsList[j].sub8 == 103 || crsList[j].sub8 == 104 || crsList[j].sub8 == 105 || crsList[j].sub8 == 106 || crsList[j].sub8 == 107 || crsList[j].sub8 == 108 || crsList[j].sub8 == 109 || crsList[j].sub8 == 110)
                    {
                        count2++;
                    }
                    if (crsList[j].sub9 == 101 || crsList[j].sub9 == 102 || crsList[j].sub9 == 103 || crsList[j].sub9 == 104 || crsList[j].sub9 == 105 || crsList[j].sub9 == 106 || crsList[j].sub9 == 107 || crsList[j].sub9 == 108 || crsList[j].sub9 == 109 || crsList[j].sub9 == 110)
                    {
                        count2++;
                    }
                    if (crsList[j].sub10 == 101 || crsList[j].sub10 == 102 || crsList[j].sub10 == 103 || crsList[j].sub10 == 104 || crsList[j].sub10 == 105 || crsList[j].sub10 == 106 || crsList[j].sub10 == 107 || crsList[j].sub10 == 108 || crsList[j].sub10 == 109 || crsList[j].sub10 == 110)
                    {
                        count2++;
                    }


                    //Class 11&12
                    if (crsList[j].sub1 == 113 || crsList[j].sub1 == 114 || crsList[j].sub1 == 115 || crsList[j].sub1 == 116 && crsList[j].sub1 == 117 || crsList[j].sub1 == 118 && crsList[j].sub1 == 119 || crsList[j].sub1 == 120 || crsList[j].sub1 == 121 || crsList[j].sub1 == 122 || crsList[j].sub1 == 123 || crsList[j].sub1 == 124 || crsList[j].sub1 == 125 || crsList[j].sub1 == 126 || crsList[j].sub1 == 127 || crsList[j].sub1 == 128)
                    {
                        count3++;
                    }
                    if (crsList[j].sub2 == 113 || crsList[j].sub2 == 114 || crsList[j].sub2 == 115 || crsList[j].sub2 == 116 || crsList[j].sub2 == 117 || crsList[j].sub2 == 118 || crsList[j].sub2 == 119 || crsList[j].sub2 == 120 || crsList[j].sub2 == 121 || crsList[j].sub2 == 122 || crsList[j].sub1 == 123 || crsList[j].sub1 == 124 || crsList[j].sub1 == 125 || crsList[j].sub1 == 126 || crsList[j].sub1 == 127 || crsList[j].sub1 == 128)
                    {
                        count3++;
                    }
                    if (crsList[j].sub3 == 113 || crsList[j].sub3 == 114 || crsList[j].sub3 == 115 || crsList[j].sub3 == 116 || crsList[j].sub3 == 117 || crsList[j].sub3 == 118 || crsList[j].sub3 == 119 || crsList[j].sub3 == 120 || crsList[j].sub3 == 121 || crsList[j].sub3 == 122 || crsList[j].sub1 == 123 || crsList[j].sub1 == 124 || crsList[j].sub1 == 125 || crsList[j].sub1 == 126 || crsList[j].sub1 == 127 || crsList[j].sub1 == 128)
                    {
                        count3++;
                    }
                    if (crsList[j].sub4 == 113 || crsList[j].sub4 == 114 || crsList[j].sub4 == 115 || crsList[j].sub4 == 116 || crsList[j].sub4 == 117 || crsList[j].sub4 == 118 || crsList[j].sub4 == 119 || crsList[j].sub4 == 120 || crsList[j].sub4 == 121 || crsList[j].sub4 == 122 || crsList[j].sub1 == 123 || crsList[j].sub1 == 124 || crsList[j].sub1 == 125 || crsList[j].sub1 == 126 || crsList[j].sub1 == 127 || crsList[j].sub1 == 128)
                    {
                        count3++;
                    }
                    if (crsList[j].sub5 == 113 || crsList[j].sub5 == 114 || crsList[j].sub5 == 115 || crsList[j].sub5 == 116 || crsList[j].sub5 == 117 || crsList[j].sub5 == 118 || crsList[j].sub5 == 119 || crsList[j].sub5 == 120 || crsList[j].sub5 == 121 || crsList[j].sub5 == 122 || crsList[j].sub1 == 123 || crsList[j].sub1 == 124 || crsList[j].sub1 == 125 || crsList[j].sub1 == 126 || crsList[j].sub1 == 127 || crsList[j].sub1 == 128)
                    {
                        count3++;
                    }
                    if (crsList[j].sub6 == 113 || crsList[j].sub6 == 114 || crsList[j].sub6 == 115 || crsList[j].sub6 == 116 || crsList[j].sub6 == 117 || crsList[j].sub6 == 118 || crsList[j].sub6 == 119 || crsList[j].sub6 == 120 || crsList[j].sub6 == 121 || crsList[j].sub6 == 122 || crsList[j].sub1 == 123 || crsList[j].sub1 == 124 || crsList[j].sub1 == 125 || crsList[j].sub1 == 126 || crsList[j].sub1 == 127 || crsList[j].sub1 == 128)
                    {
                        count3++;
                    }
                    if (crsList[j].sub7 == 113 || crsList[j].sub7 == 114 || crsList[j].sub7 == 115 || crsList[j].sub7 == 116 || crsList[j].sub7 == 117 || crsList[j].sub7 == 118 || crsList[j].sub7 == 119 || crsList[j].sub7 == 120 || crsList[j].sub7 == 121 || crsList[j].sub7 == 122 || crsList[j].sub1 == 123 || crsList[j].sub1 == 124 || crsList[j].sub1 == 125 || crsList[j].sub1 == 126 || crsList[j].sub1 == 127 || crsList[j].sub1 == 128)
                    {
                        count3++;
                    }
                    if (crsList[j].sub8 == 113 || crsList[j].sub8 == 114 || crsList[j].sub8 == 115 || crsList[j].sub8 == 116 || crsList[j].sub8 == 117 || crsList[j].sub8 == 118 || crsList[j].sub8 == 119 || crsList[j].sub8 == 120 || crsList[j].sub8 == 121 || crsList[j].sub8 == 122 || crsList[j].sub1 == 123 || crsList[j].sub1 == 124 || crsList[j].sub1 == 125 || crsList[j].sub1 == 126 || crsList[j].sub1 == 127 || crsList[j].sub1 == 128)
                    {
                        count3++;
                    }
                    if (crsList[j].sub9 == 113 || crsList[j].sub9 == 114 || crsList[j].sub9 == 115 || crsList[j].sub9 == 116 || crsList[j].sub9 == 117 || crsList[j].sub9 == 118 || crsList[j].sub9 == 119 || crsList[j].sub9 == 120 || crsList[j].sub9 == 121 || crsList[j].sub9 == 122 || crsList[j].sub1 == 123 || crsList[j].sub1 == 124 || crsList[j].sub1 == 125 || crsList[j].sub1 == 126 || crsList[j].sub1 == 127 || crsList[j].sub1 == 128)
                    {
                        count3++;
                    }
                    if (crsList[j].sub10 == 113 || crsList[j].sub10 == 114 || crsList[j].sub10 == 115 || crsList[j].sub10 == 116 || crsList[j].sub10 == 117 || crsList[j].sub10 == 118 || crsList[j].sub10 == 119 || crsList[j].sub10 == 120 || crsList[j].sub10 == 121 || crsList[j].sub10 == 122 || crsList[j].sub1 == 123 || crsList[j].sub1 == 124 || crsList[j].sub1 == 125 || crsList[j].sub1 == 126 || crsList[j].sub1 == 127 || crsList[j].sub1 == 128)
                    {
                        count3++;
                    }

                }
            }
        }
        activeTeacher8 = count1;
        activeTeacher9and10 = count2;
        activeTeacher11and12 = count3;
    }




}




